{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
        </p>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for items in todo_list_detail.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' items.id %}"
                  >{{ items.task }}</a
                >
              </td>
              <td>{{ items.due_date }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">No todo items found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
